<% content_for :title do %>
  <title><%= @spot.name %> | 自転車空気入れマップ</title>
<% end %>

<main class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-3 mb-5">
      <div class="row">
        <h1 class="col-12 col-md">施設情報</h1>
        <div class="col-12 col-md-auto mx-0 row">
          <p class="text-secondary col-12 col-md-auto text-end">登録日時：<%= @spot.created_at.strftime('%Y/%m/%d %H:%M') %><%= ' *' if @spot.user_id == nil %></p>
          <%= link_to edit_spot_path(@spot), class: 'col-12 col-md text-end' do %>
            <button class="btn btn-primary">編集</button>
          <% end %>
        </div>
      </div>
      <div>
        <p class="text-secondary">施設名</p>
        <div class="row">
          <div class="col-10">
            <p class="ms-3"><%= @spot.name %></p>
          </div>
          <div class="col-2">
            <%= render partial: 'favorites/favorite_button', locals: { spot: @spot } %>
          </div>
        </div>
      </div>
      <div>
        <p class="text-secondary">住所</p>
        <div class="row">
          <div class="col-9 col-md-auto">
            <p class="ms-3"><%= @spot.decorate.full_address %></p>
          </div>
          <div class="col-3 col-md">
            <%= link_to "https://www.google.com/maps/dir/?api=1&destination=#{@spot.decorate.full_address}", target: "_blank" do %>
              <button class="btn btn-primary">地図</button>
            <% end %>
          </div>
        <div>
      </div>
      <div>
        <p class="text-secondary">貸出し料金</p>
        <p class="ms-3"><%= @spot.fee_i18n %></p>
      </div>
      <div>
        <p class="text-secondary">空気入れの駆動方法</p>
        <p class="ms-3"><%= @spot.pumps.map(&:usage).join('、') %></p>
      </div>
      <div>
        <p class="text-secondary">対応するバルブの形状</p>
        <p style="font-size: 12px;">
          ※英式は主にシティサイクル（いわゆるママチャリ）、米式は主にマウンテンバイク、仏式は主にロードバイク・クロスバイクに使われます。<a href="https://www.cso.co.jp/chishiki/img/barub.gif" class="text-decoration-none">こちらの画像</a>を参考にしてください。
        </p>
        <p class="ms-3"><%= @spot.valves.map(&:kind).join('、') %></p>
      </div>
      <div>
        <p class="text-secondary">施設の営業時間</p>
        <% if @spot.opening_time.nil? || @spot.closing_time.nil? %>
          <p class="ms-3">未登録</p>
        <% else %>
          <p class="ms-3"><%= @spot.opening_time.strftime('%k:%M') %> 〜 <%= @spot.closing_time.strftime('%k:%M') %></p>
        <% end %>
      </div>
      <div>
        <p class="text-secondary">コメント</p>
        <div id="comments_container">
          <% @comments.each do |comment| %>
            <%= render partial: 'comments/comment', locals: { comment: comment } %>
          <% end %>
        </div>
      </div>
      <div>
        <%= form_with model: @comment, url: spot_comments_path(@spot), local: false do |f| %>
          <%= f.hidden_field :spot_id, value: @spot.id %>
          <div class="mb-3">
            <%= f.text_area :content, class: 'form-control', id: "comment_content", placeholder: 'コメントを入力してください', required: true %>
          </div>
          <div class="mb-3">
            <%= f.submit t('helpers.submit.post'), class: 'btn btn-primary col-12 col-lg-2' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
