<header>
  <nav class="navbar">
    <div class="container-fluid">
      <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#menu">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse" id="menu">
        <ul class="navbar-nav list-unstyled">
          <li class="nav-item"><%= link_to 'サービスについて', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'トップページ', root_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '施設検索', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '地名検索', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '施設一覧', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'アカウント', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '登録した施設', '#', class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'お気に入り', '#', class: 'nav-link' %></li>
        </ul>
      </div>
      <h1><%= link_to '自転車空気入れマップ', root_path, class: 'navbar-brand' %></h1>
      <%= link_to 'ログイン', '#' %>
    </div>
  </nav>
</header>
