<% content_for :title do %>
  <title>地名検索 | 自転車空気入れマップ</title>
<% end %>

<main class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto mt-3 mb-5">
      <h1>地名検索</h1>
      <p>検索した地名へ地図をジャンプします。</p>
      <%= form_with url: search_places_path, local: true do |f| %>
        <div class="row">
          <div class="col-9 col-md-11">
            <%= f.text_field :place_name, class: 'form-control', required: true %>
          </div>
          <div class="col-3 col-md-1">
            <%= f.submit t('helpers.submit.search'), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

      <% if @places.present? && @searched_flag == true %>
        <div class="mt-3">
          <p>検索ワード：<%= params[:place_name] %></p>
        </div>
        <div class="mt-3">
          <ul class="p-0">
            <% @places.each do |place| %>
              <li class="card border-0 hover-card">
                <div class="card-body">
                  <%= link_to root_path(lat: place[:lat], lng: place[:lng], place_name: place[:address]), class: 'text-decoration-none' do %>
                    <p class="card-text text-black">
                      <%= place[:address] %>
                      <i class="fa-solid fa-arrow-up-right-from-square text-secondary ms-3"></i>
                    </p>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      <% elsif @searched_flag == true %>
        <div class="mt-3">
          <p>検索ワード：<%= params[:place_name] %></p>
        </div>
        <div class="mt-3">
          <p class="ms-3">検索結果はありません。</p>
        </div>
      <% else %>
        <%# 何も表示しない %>
      <% end %>
    </div>
  </div>
</main>
