<!DOCTYPE html>
<html>
  <head>
    <%= yield :title %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description" content="無料で使える自転車空気入れ貸出しスポットの共有マップ。自転車で外出中、タイヤに空気を入れたくなったとき等にご利用ください。">

    <%= favicon_link_tag 'favicon.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css", media: "all", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <%= render partial: 'shared/flash_message' %>
    <%= yield %>
  </body>
</html>
